<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить книгу</title>
</head>
<body>
<h1>Добавить новую книгу</h1>
<form th:action="@{/books}" th:object="${book}" method="POST">
    <label for="name">Название:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка</p>

    <label for="author">Автор:</label>
    <input type="text" id="author" th:field="*{author}" required>
    <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Ошибка</p>

    <label for="year">Год публикации:</label>
    <input type="number" id="year" th:field="*{year}" required>
    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Ошибка</p>

    <button type="submit">Добавить</button>
</form>
</body>
</html>